.blog-page-search {
  background-color: $tertiary-color;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    gap: 0 48px;
    padding: 13px 0;
  }
  li {
    font-weight: 700;
    font-size: 20px;
  }
  a {
    color: white;
  }
  span {
    font-size: 40px;
    color: white;
  }
  @media screen and(max-width:414px) {
    ul {
      gap: 0 25px;
    }
    li {
      font-size: 16px;
    }
    span {
      display: none;
    }
  }
}

.breadcrumbs {
  display: flex;
  margin-top: 24px;
  margin-bottom: 8px;
  gap: 0 4px;
  a {
    color: black;
  }
  a.breadcrumb-target {
    color: $primary-color;
  }
  @media screen and(max-width:991px) {
    margin-top: 8px;
  }
  @media screen and(max-width:414px) {
    margin-top: 16px;
  }
}

.tags {
  display: flex;
  gap: 0 15px;
  margin-bottom: 8px;
  a {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }
  @media screen and(max-width:991px) {
    a {
      font-size: 16px;
      font-weight: 700;
      color: $primary-color;
    }
  }
}

.blog-page-main {
  .blog-page-article {
    display: flex;
    gap: 0 24px;
    .blog-page-content {
      li {
        display: flex;
        flex-direction: column;
        gap: 8px 0;
        margin-bottom: 40px;
        @media screen and(max-width:414px) {
          margin-bottom: 16px;
        }
        p {
          color: #555555;
        }
      }
    }

    .blog-page-ch-title {
      font-size: 48px;
    }
    .blog-page-en-title {
      font-size: 24px;
      margin-bottom: 16px;
    }
    .blog-page-soical {
      display: flex;
      align-items: center;
      font-weight: 700;
      border-bottom: 1px solid #707070;
      padding-bottom: 15px;
      gap: 0 16px;
      img {
        border-radius: 2px;
        width: 24px;
      }
      a {
        color: #0a0a0a;
      }
    }
    .blog-page-select {
      display: flex;
      justify-content: space-between;
      margin-top: 26px;
      margin-bottom: 80px;
      a {
        display: flex;
        gap: 0 8px;
        align-items: center;
        color: #000000;
      }
    }
    @media screen and(max-width:414px) {
      margin-bottom: 50px;
      .blog-page-soical {
        display: none;
      }
      .blog-page-select {
        display: none;
      }
    }
  }
  aside {
    color: $primary-color;
    font-weight: 700;
    width: 38%;
    @media screen and(max-width:414px) {
      display: none;
    }
    div {
      display: flex;
      align-items: center;
      h3 {
        font-size: 32px;
      }
    }
    span {
      font-size: 48px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 4px 24px;
    }
    a {
      color: $primary-color;
      font-size: 24px;
    }
    @media screen and(max-width:991px) {
      width: 85%;
      div {
        h3 {
          font-size: 16px;
        }
      }
      span {
        font-size: 24px;
      }
      a {
        font-size: 16px;
      }
    }
  }
}
