@import "../abstracts/variables";
@import "../abstracts/mixins";

.title-center {
  color: $tertiary-color;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
  @media screen and(max-width:414px) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.section-pdy {
  padding: 80px 0;
  @media screen and(max-width:414px) {
    padding: 40px 0;
  }
}

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 787px;
  color: $tertiary-color;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  @media screen and(max-width:991px) {
    background-image: url(../images/home-header-sm.png);
    height: 787px;
  }

  @media screen and(max-width:414px) {
    background-image: url(../images/home-header-sm.png);
    height: 396px;
  }

  section {
    width: 100%;
  }

  p {
    font-size: 36px;
    @media screen and(max-width:414px) {
      font-size: 16px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 64px;
    padding-bottom: 4px;
    @media screen and(max-width:414px) {
      font-size: 24px;
      padding-bottom: 8px;
    }
  }

  button {
    @include button(6px, 12px, 20px, 29px);
    a {
      color: white;
    }
  }
}

.works {
  background-color: $secondary-color;
  h3 {
    margin-bottom: 24px;
    @media screen and(max-width:414px) {
      font-size: 24px;
    }
  }
  h4 {
    font-size: 24px;
    font-weight: 700;
    color: $tertiary-color;
    margin-bottom: 8px;
  }
  li {
    width: calc((100% - 48px) / 4);
  }
  p {
    text-align: left;
  }
  img {
    max-width: 100px;
    margin-bottom: 16px;
  }
  @media screen and(max-width:991px) {
    ul {
      flex-wrap: wrap;
    }
    li {
      width: 48%;
    }
  }
  @media screen and(max-width:414px) {
    li {
      width: 100%;
    }
  }
}

.glasses {
  img {
    padding-bottom: 8px;
  }
  li {
    width: calc((100% - 48px) / 3);
  }
  a {
    color: $primary-color;
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
  }
  @media screen and(max-width:991px) {
    ul {
      flex-wrap: wrap;
    }
    li {
      width: 50%;
    }
  }
  @media screen and(max-width:414px) {
    li {
      width: 100%;
    }
  }
}

.desgin {
  background-image: url(../images/index-bg.png);
  h3 {
    color: white;
  }
  ul {
    gap: 0;
  }
  li {
    border-left: 0.5px solid gray;
  }
  p {
    background-color: white;
    padding: 8px 0;
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: $tertiary-color;
  }
  @media screen and(max-width:991px) {
    ul {
      flex-wrap: wrap;
      gap: 24px;
    }
    li {
      width: 90%;
    }
  }
  @media screen and(max-width:414px) {
    li {
      width: 89.9%;
    }
  }
}

.recommend {
  li {
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;
  }
  section {
    padding: 16px;
  }
  h5 {
    text-align: left;
    font-weight: 500;
    padding-bottom: 8px;
  }
  p {
    text-align: left;
    padding-bottom: 24px;
  }
  time {
    display: block;
    text-align: left;
    padding-top: 48px;
    font-size: 14px;
    color: #707070;
    padding-bottom: 0;
  }
  @media screen and(max-width:991px) {
    ul {
      flex-wrap: wrap;
    }
    li {
      width: 48%;
    }
  }
  @media screen and(max-width:414px) {
    li {
      width: 100%;
    }
  }
}

.contact {
  background-color: $secondary-color;
  form {
    max-width: 636px;
    display: flex;
    flex-flow: column;
    .fz-20 {
      font-size: 20px;
    }
  }

  .mb-24 {
    margin-bottom: 24px;
  }

  label {
    margin-bottom: 8px;
  }
  input {
    margin-bottom: 16px;
  }
  input,
  textarea {
    background-color: $secondary-color;
    padding: 5px 11px;
    border: 1px solid black;
  }
  textarea {
    resize: none;
    min-height: 124px;
    margin-bottom: 16px;
  }
  div {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    input[type="checkbox"] {
      margin-bottom: 0;
      width: 24px;
      height: 24px;
    }
  }

  input[type="submit"] {
    width: 46%;
    margin: 0 auto;
    @include button(16px, 0, 16px, 24px);
  }

  @media screen and(max-width:414px) {
    form {
      .fz-20 {
        font-size: 16px;
      }
    }
    input,
    textarea {
      font-size: 14px;
    }
    div {
      align-items: flex-start;
    }
    input[type="submit"] {
      width: 100%;
    }
  }
}
