.items {
  display: flex;
  justify-content: center;
  background-color: white;
  li {
    text-align: center;
    width: 33.3%;
    font-size: 32px;
    font-weight: 500;
    border: 1px solid #dcdcdc;
    transition: all 0.35s ease-in;
  }

  li:hover {
    background-color: #efefefd0;
  }

  a {
    border-bottom: 8px solid #fff;
    transition: all 0.35s ease-in;
    padding: 24px 0;
    display: block;
    color: black;
  }

  .item-active a {
    color: #585858;
    border-bottom: 8px solid $primary-color;
  }

  @media screen and(max-width:991px) {
    li {
      font-size: 24px;
    }

    a {
      padding: 16px 0;
    }
  }
  @media screen and(max-width:414px) {
    li {
      font-size: 16px;
    }
  }
}

.page1-header-image {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  @media screen and(max-width:414px) {
    margin-bottom: 40px;
  }
}

.page1-titles {
  text-align: center;
  margin-bottom: 32px;
  @media screen and(max-width:414px) {
    margin-bottom: 32px;
  }
  .page1-en-font {
    font-weight: 500;
    font-size: 42px;
  }
  .page1-ch-font {
    font-weight: 400;
    font-size: 32px;
  }
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 24px;

  .product-card {
    width: calc((100% - 72px) / 4);
  }

  @media screen and(max-width:991px) {
    .product-card {
      width: calc((100% - 24px) / 2);
    }
    .product-card:nth-child(11) {
      display: none;
    }
    .product-card:nth-child(12) {
      display: none;
    }
  }
  @media screen and(max-width:414px) {
    .product-card {
      width: 100%;
    }
  }

  .product-titles {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
  }
  .product-price {
    color: $primary-color;
  }

  .color-boxs {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .color1 {
    background-color: #5f3e2d;
    margin-right: 8px;
  }
  .color2 {
    background-color: #b75929;
  }
}

.page1-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;

  @media screen and(max-width:414px) {
    margin: 64px 0;
  }

  .page-active {
    background-color: #000000;
    color: white;
  }

  a {
    border: 1px solid #555555;
    padding: 12px 16px 12px 15px;
    color: #555555;
    margin-left: -1px;
  }
  a:first-child li:last-child {
    padding: 11px 12px;
  }
  a {
    border: 1px solid black;
    display: block;
  }
}
