.product-card2 {
  width: calc((100% - 48px) / 4);
}

@media screen and(max-width:991px) {
  .product-card2 {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and(max-width:414px) {
  .product-card2 {
    width: 100%;
  }
}
