.qa-title {
  font-size: 48px;
  font-weight: 700;
  border-left: 8px solid $primary-color;
  padding: 0 16px;
  margin-top: 96px;
  @media screen and(max-width:991px) {
    font-size: 24px;
    margin-top: 80px;
  }
  @media screen and(max-width:414px) {
    font-size: 24px;
    margin-top: 40px;
  }
}

.qa-h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 24px;
  @media screen and(max-width:414px) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.qa-font-size {
  width: 55%;
  margin-bottom: 80px;
  @media screen and (max-width: 991px) {
    width: 100%;
  }
  @media screen and (max-width: 414px) {
    width: 100%;
    margin-bottom: 64px;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  li {
    margin-bottom: 32px;
  }
  li:last-child {
    margin-bottom: 0;
  }
}
