/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  opacity: 0.8; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5; }

header {
  position: relative;
  background-color: #aa0601; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0 15px 0; }
    header nav h1 img {
      width: 80px;
      margin: 15.5px; }
    header nav .down-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header nav .down-list li {
        margin-left: 64px; }
      header nav .down-list li:first-child {
        margin-left: 0; }
      header nav .down-list .close {
        display: none; }
    header nav span.menu {
      display: none;
      color: white; }
    @media screen and (max-width: 414px) {
      header nav .down-list {
        position: absolute;
        background-color: #aa0601;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 0px;
        -webkit-transition: all 0.45s ease-in;
        -o-transition: all 0.45s ease-in;
        transition: all 0.45s ease-in;
        overflow: hidden;
        z-index: 10;
        text-align: center; }
      header nav .down-list li {
        width: 100%;
        padding: 16px 0;
        border-top: 1px solid white;
        margin-left: 0; }
      header nav .down-list-active {
        max-height: 228px; }
        header nav .down-list-active li:hover {
          background-color: #650300; }
          header nav .down-list-active li:hover a {
            opacity: 0.8; }
      header nav span.menu {
        display: block;
        position: absolute;
        right: 14px;
        cursor: pointer;
        border-radius: 50%;
        -webkit-transition: all 0.8s ease-in;
        -o-transition: all 0.8s ease-in;
        transition: all 0.8s ease-in; }
        header nav span.menu:hover {
          background-color: rgba(219, 218, 218, 0.802); }
      header nav .material-symbols-outlined.size-36.menu {
        font-variation-settings: "OPSZ" 40;
        font-size: 40px; } }
  header .bc-white {
    background-color: #fff; }
  header .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white; }
    header .items li {
      text-align: center;
      width: 33.3%;
      font-size: 32px;
      font-weight: 500;
      border: 1px solid #dcdcdc;
      -webkit-transition: all 0.35s ease-in;
      -o-transition: all 0.35s ease-in;
      transition: all 0.35s ease-in; }
    header .items li:hover {
      background-color: #efefefd0; }
    header .items a {
      border-bottom: 8px solid #fff;
      -webkit-transition: all 0.35s ease-in;
      -o-transition: all 0.35s ease-in;
      transition: all 0.35s ease-in;
      padding: 24px 0;
      display: block;
      color: black; }
    header .items .item-active a {
      color: #585858;
      border-bottom: 8px solid #aa0601; }

footer {
  background-color: #aa0601;
  padding-top: 48px;
  color: white; }
  @media screen and (max-width: 414px) {
    footer {
      padding-top: 24px; } }
  footer img {
    max-width: 48px; }

.boder-top {
  border-top: 1px solid white; }

.py-12 {
  padding: 12px 0; }

.mb-24 {
  margin-bottom: 24px; }

.mb-31 {
  margin-bottom: 31px; }

@media screen and (max-width: 414px) {
  .mb-31 {
    margin-bottom: 23px; } }

.copyright {
  font-size: 14px; }
  .copyright section {
    padding-top: 32px;
    padding-bottom: 32px; }

@media screen and (max-width: 414px) {
  .copyright {
    font-size: 16px; } }

@media screen and (max-width: 991px) {
  .copyright section {
    padding-top: 32px;
    padding-bottom: 40px; } }

@media screen and (max-width: 414px) {
  .copyright ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .copyright section {
    padding-top: 16px;
    padding-bottom: 24px; } }

.footer-icon {
  margin: 3px 16px 3px 0; }
  @media screen and (max-width: 414px) {
    .footer-icon {
      margin: 3px 8px 3px 0; } }
  .footer-icon .material-symbols-outlined.size-36.phone {
    font-variation-settings: "OPSZ" 36;
    font-size: 36px;
    color: white;
    padding: 6px; }
  .footer-icon .material-symbols-outlined.size-36 {
    font-variation-settings: "OPSZ" 36;
    font-size: 36px;
    color: white;
    padding: 4px; }
  @media screen and (max-width: 767px) {
    .footer-icon .material-symbols-outlined.size-36.phone {
      font-variation-settings: "OPSZ" 18;
      font-size: 18px; }
    .footer-icon .material-symbols-outlined.size-36 {
      font-variation-settings: "OPSZ" 18;
      font-size: 18px; } }

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-flex ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media screen and (max-width: 991px) {
    .footer-flex .list-1 {
      font-size: 16px;
      padding: 8px 0; }
    .footer-flex img {
      width: 40px; } }
  @media screen and (max-width: 767px) {
    .footer-flex .list-1 {
      display: none; }
    .footer-flex .info {
      font-size: 16px; }
    .footer-flex img {
      width: 40px; } }
  @media screen and (max-width: 414px) {
    .footer-flex {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      .footer-flex img {
        width: 24px; } }
  .footer-flex .list-1 li {
    margin-right: 48px; }
  .footer-flex li:last-child {
    margin-right: 0; }
  .footer-flex .social-icon-pd li {
    margin-right: 32px; }
  .footer-flex .social-icon-pd li:last-child {
    margin-right: 0; }

.copyright ul {
  gap: 0 48px; }

@media screen and (max-width: 414px) {
  .copyright section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px; }
  .copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .copyright ul li {
      margin-bottom: 8px; }
    .copyright ul li:last-child {
      margin-bottom: 0; } }

footer section .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 36px; }
  footer section .info li {
    margin-bottom: 8px; }
  footer section .info li:last-child {
    margin-bottom: 0; }

.title-center {
  color: #650300;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px; }
  @media screen and (max-width: 414px) {
    .title-center {
      font-size: 24px;
      margin-bottom: 24px; } }

.section-pdy {
  padding: 80px 0; }
  @media screen and (max-width: 414px) {
    .section-pdy {
      padding: 40px 0; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 787px;
  color: #650300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 991px) {
    .banner {
      background-image: url(../images/home-header-sm.png);
      height: 787px; } }
  @media screen and (max-width: 414px) {
    .banner {
      background-image: url(../images/home-header-sm.png);
      height: 396px; } }
  .banner section {
    width: 100%; }
  .banner p {
    font-size: 36px; }
    @media screen and (max-width: 414px) {
      .banner p {
        font-size: 16px; } }
  .banner h2 {
    font-weight: 700;
    font-size: 64px;
    padding-bottom: 4px; }
    @media screen and (max-width: 414px) {
      .banner h2 {
        font-size: 24px;
        padding-bottom: 8px; } }
  .banner button {
    background-color: #aa0601;
    color: #fff;
    font-size: 20px;
    line-height: 29px;
    padding: 6px 12px;
    border: none; }
    .banner button a {
      color: white; }

.works {
  background-color: #fbf2f2; }
  .works h3 {
    margin-bottom: 24px; }
    @media screen and (max-width: 414px) {
      .works h3 {
        font-size: 24px; } }
  .works h4 {
    font-size: 24px;
    font-weight: 700;
    color: #650300;
    margin-bottom: 8px; }
  .works li {
    width: calc((100% - 48px) / 4); }
  .works p {
    text-align: left; }
  .works img {
    max-width: 100px;
    margin-bottom: 16px; }
  @media screen and (max-width: 991px) {
    .works ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .works li {
      width: 48%; } }
  @media screen and (max-width: 414px) {
    .works li {
      width: 100%; } }

.glasses img {
  padding-bottom: 8px; }

.glasses li {
  width: calc((100% - 48px) / 3); }

.glasses a {
  color: #aa0601;
  font-size: 48px;
  font-weight: 900;
  font-style: italic; }

@media screen and (max-width: 991px) {
  .glasses ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .glasses li {
    width: 50%; } }

@media screen and (max-width: 414px) {
  .glasses li {
    width: 100%; } }

.desgin {
  background-image: url(../images/index-bg.png); }
  .desgin h3 {
    color: white; }
  .desgin ul {
    gap: 0; }
  .desgin li {
    border-left: 0.5px solid gray; }
  .desgin p {
    background-color: white;
    padding: 8px 0;
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: #650300; }
  @media screen and (max-width: 991px) {
    .desgin ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 24px; }
    .desgin li {
      width: 90%; } }
  @media screen and (max-width: 414px) {
    .desgin li {
      width: 89.9%; } }

.recommend li {
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px; }

.recommend section {
  padding: 16px; }

.recommend h5 {
  text-align: left;
  font-weight: 500;
  padding-bottom: 8px; }

.recommend p {
  text-align: left;
  padding-bottom: 24px; }

.recommend time {
  display: block;
  text-align: left;
  padding-top: 48px;
  font-size: 14px;
  color: #707070;
  padding-bottom: 0; }

@media screen and (max-width: 991px) {
  .recommend ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .recommend li {
    width: 48%; } }

@media screen and (max-width: 414px) {
  .recommend li {
    width: 100%; } }

.contact {
  background-color: #fbf2f2; }
  .contact form {
    max-width: 636px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .contact form .fz-20 {
      font-size: 20px; }
  .contact .mb-24 {
    margin-bottom: 24px; }
  .contact label {
    margin-bottom: 8px; }
  .contact input {
    margin-bottom: 16px; }
  .contact input,
  .contact textarea {
    background-color: #fbf2f2;
    padding: 5px 11px;
    border: 1px solid black; }
  .contact textarea {
    resize: none;
    min-height: 124px;
    margin-bottom: 16px; }
  .contact div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px; }
    .contact div input[type="checkbox"] {
      margin-bottom: 0;
      width: 24px;
      height: 24px; }
  .contact input[type="submit"] {
    width: 46%;
    margin: 0 auto;
    background-color: #aa0601;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0;
    border: none; }
  @media screen and (max-width: 414px) {
    .contact form .fz-20 {
      font-size: 16px; }
    .contact input,
    .contact textarea {
      font-size: 14px; }
    .contact div {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .contact input[type="submit"] {
      width: 100%; } }

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white; }
  .items li {
    text-align: center;
    width: 33.3%;
    font-size: 32px;
    font-weight: 500;
    border: 1px solid #dcdcdc;
    -webkit-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in; }
  .items li:hover {
    background-color: #efefefd0; }
  .items a {
    border-bottom: 8px solid #fff;
    -webkit-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
    padding: 24px 0;
    display: block;
    color: black; }
  .items .item-active a {
    color: #585858;
    border-bottom: 8px solid #aa0601; }
  @media screen and (max-width: 991px) {
    .items li {
      font-size: 24px; }
    .items a {
      padding: 16px 0; } }
  @media screen and (max-width: 414px) {
    .items li {
      font-size: 16px; } }

.page1-header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 80px; }
  @media screen and (max-width: 414px) {
    .page1-header-image {
      margin-bottom: 40px; } }

.page1-titles {
  text-align: center;
  margin-bottom: 32px; }
  @media screen and (max-width: 414px) {
    .page1-titles {
      margin-bottom: 32px; } }
  .page1-titles .page1-en-font {
    font-weight: 500;
    font-size: 42px; }
  .page1-titles .page1-ch-font {
    font-weight: 400;
    font-size: 32px; }

.product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px 24px; }
  .product-cards .product-card {
    width: calc((100% - 72px) / 4); }
  @media screen and (max-width: 991px) {
    .product-cards .product-card {
      width: calc((100% - 24px) / 2); }
    .product-cards .product-card:nth-child(11) {
      display: none; }
    .product-cards .product-card:nth-child(12) {
      display: none; } }
  @media screen and (max-width: 414px) {
    .product-cards .product-card {
      width: 100%; } }
  .product-cards .product-titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 24px; }
  .product-cards .product-price {
    color: #aa0601; }
  .product-cards .color-boxs {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px; }
  .product-cards .color1 {
    background-color: #5f3e2d;
    margin-right: 8px; }
  .product-cards .color2 {
    background-color: #b75929; }

.page1-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0; }
  @media screen and (max-width: 414px) {
    .page1-pages {
      margin: 64px 0; } }
  .page1-pages .page-active {
    background-color: #000000;
    color: white; }
  .page1-pages a {
    border: 1px solid #555555;
    padding: 12px 16px 12px 15px;
    color: #555555;
    margin-left: -1px; }
  .page1-pages a:first-child li:last-child {
    padding: 11px 12px; }
  .page1-pages a {
    border: 1px solid black;
    display: block; }

.product-card2 {
  width: calc((100% - 48px) / 4); }

@media screen and (max-width: 991px) {
  .product-card2 {
    width: calc((100% - 24px) / 2); } }

@media screen and (max-width: 414px) {
  .product-card2 {
    width: 100%; } }

.store-title {
  font-size: 48px;
  font-weight: 700;
  border-left: 8px solid #aa0601;
  padding: 0 16px;
  margin: 96px 0 33px 0; }
  @media screen and (max-width: 991px) {
    .store-title {
      margin: 80px 0 33px 0; } }
  @media screen and (max-width: 414px) {
    .store-title {
      font-size: 24px;
      margin: 40px 0 24px 0; } }

.select-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 16px;
  width: calc((100% - 48px) / 3);
  margin-bottom: 40px; }
  .select-location p {
    font-size: 24px; }
  .select-location select {
    width: calc(100% - 96px - 16px);
    color: gray;
    padding: 6px 12px; }
    .select-location select option {
      font-size: 18px;
      line-height: 26px; }

@media screen and (max-width: 414px) {
  .select-location {
    width: 100%;
    gap: 0 8px; }
    .select-location p {
      font-size: 16px; }
    .select-location select {
      width: calc(100% - 64px - 8px);
      color: gray;
      padding: 6px 12px; } }

.store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 80px; }
  @media screen and (max-width: 414px) {
    .store-info {
      margin-bottom: 64px; } }

.store-card {
  width: calc((100% - 48px) / 3); }
  @media screen and (max-width: 991px) {
    .store-card {
      width: calc((100% - 24px) / 2); } }
  @media screen and (max-width: 414px) {
    .store-card {
      width: 100%; } }
  .store-card h3 {
    border: 1px solid #00000020;
    font-size: 24px;
    color: #212529;
    padding: 8px 24px; }
  .store-card ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #00000020;
    padding: 15px 24px; }
  .store-card li {
    margin-bottom: 8px; }
  .store-card li:last-child {
    margin-bottom: 0; }
  .store-card span {
    margin-right: 8px; }
  .store-card li,
  .store-card a {
    gap: 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #212529; }
  .store-card button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 19px;
    line-height: 27px;
    padding: 16px 0; }
    .store-card button a {
      color: white; }

.store-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px;
  margin-bottom: 80px; }
  .store-map div.store-card {
    width: 32%; }
  .store-map iframe {
    width: 60%; }
  @media screen and (max-width: 991px) {
    .store-map {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .store-map iframe {
        margin-top: 24px;
        width: 100%; } }

.store-map-card {
  width: 32%; }
  .store-map-card h3 {
    border: 1px solid #00000020;
    font-size: 24px;
    color: #212529;
    padding: 8px 24px; }
  .store-map-card ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #00000020;
    padding: 15px 24px; }
  .store-map-card li {
    margin-bottom: 8px; }
  .store-map-card li:last-child {
    margin-bottom: 0; }
  .store-map-card span {
    margin-right: 8px; }
  .store-map-card li,
  .store-map-card a {
    gap: 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #212529; }
  .store-map-card button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 19px;
    line-height: 27px;
    padding: 16px 0; }
    .store-map-card button a {
      color: white; }
  @media screen and (max-width: 991px) {
    .store-map-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 0 24px; }
      .store-map-card .store-map-image {
        width: 50%; }
      .store-map-card span {
        margin-right: 0px; }
      .store-map-card .store-map-info {
        width: 50%; }
      .store-map-card button {
        display: none; } }
  @media screen and (max-width: 414px) {
    .store-map-card {
      display: block;
      width: 100%; }
      .store-map-card .store-map-image {
        width: 100%; }
      .store-map-card span {
        margin-right: 0px; }
      .store-map-card .store-map-info {
        width: 100%; }
      .store-map-card button {
        display: none; } }

.qa-title {
  font-size: 48px;
  font-weight: 700;
  border-left: 8px solid #aa0601;
  padding: 0 16px;
  margin-top: 96px; }
  @media screen and (max-width: 991px) {
    .qa-title {
      font-size: 24px;
      margin-top: 80px; } }
  @media screen and (max-width: 414px) {
    .qa-title {
      font-size: 24px;
      margin-top: 40px; } }

.qa-h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 24px; }
  @media screen and (max-width: 414px) {
    .qa-h3 {
      margin-top: 24px;
      margin-bottom: 24px; } }

.qa-font-size {
  width: 55%;
  margin-bottom: 80px; }
  @media screen and (max-width: 991px) {
    .qa-font-size {
      width: 100%; } }
  @media screen and (max-width: 414px) {
    .qa-font-size {
      width: 100%;
      margin-bottom: 64px; } }
  .qa-font-size h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px; }
  .qa-font-size li {
    margin-bottom: 32px; }
  .qa-font-size li:last-child {
    margin-bottom: 0; }

.blog-search {
  background-color: #650300; }
  @media screen and (max-width: 414px) {
    .blog-search {
      display: none; } }
  .blog-search div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .blog-search ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 48px;
    padding: 13px 0; }
  .blog-search li {
    font-size: 20px;
    font-weight: 700; }
  .blog-search a {
    color: white; }
  .blog-search span {
    font-size: 40px;
    color: white; }

.qa-title {
  font-size: 48px;
  font-weight: 700;
  border-left: 8px solid #aa0601;
  padding: 0 16px;
  margin-top: 96px;
  margin-bottom: 32px; }
  @media screen and (max-width: 991px) {
    .qa-title {
      font-size: 24px;
      margin-top: 80px; } }
  @media screen and (max-width: 414px) {
    .qa-title {
      font-size: 24px;
      margin-top: 40px; } }

.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px 0; }
  @media screen and (max-width: 991px) {
    .blog-cards {
      gap: 24px 0; } }

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 44px; }
  .blog-card img {
    -o-object-fit: cover;
       object-fit: cover;
    width: calc((100% - 24px) / 2); }
  @media screen and (max-width: 414px) {
    .blog-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      gap: 8px 0;
      margin-bottom: 0; }
      .blog-card img {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%; }
      .blog-card p,
      .blog-card a {
        display: none; } }
  .blog-card section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .blog-card section h3 {
      color: #650300;
      font-size: 32px; }
    .blog-card section div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 16px; }
    @media screen and (max-width: 414px) {
      .blog-card section div {
        width: 100%; } }
    .blog-card section h4 {
      font-size: 20px;
      font-weight: 500; }
    .blog-card section time {
      color: #000000;
      opacity: 0.7; }
    .blog-card section p {
      margin-bottom: 102px; }
    .blog-card section a {
      -ms-flex-item-align: end;
          align-self: end;
      font-size: 36px;
      font-weight: 900;
      color: #650300; }
    @media screen and (max-width: 991px) {
      .blog-card section h3 {
        font-size: 24px; }
      .blog-card section div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 4px; }
      .blog-card section h4 {
        font-size: 16px; }
      .blog-card section p {
        margin-bottom: 0px; }
      .blog-card section a {
        -ms-flex-item-align: start;
            align-self: start;
        font-size: 16px;
        font-weight: 400;
        color: gray; } }

.blog-page-search {
  background-color: #650300; }
  .blog-page-search div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .blog-page-search ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 48px;
    padding: 13px 0; }
  .blog-page-search li {
    font-weight: 700;
    font-size: 20px; }
  .blog-page-search a {
    color: white; }
  .blog-page-search span {
    font-size: 40px;
    color: white; }
  @media screen and (max-width: 414px) {
    .blog-page-search ul {
      gap: 0 25px; }
    .blog-page-search li {
      font-size: 16px; }
    .blog-page-search span {
      display: none; } }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 8px;
  gap: 0 4px; }
  .breadcrumbs a {
    color: black; }
  .breadcrumbs a.breadcrumb-target {
    color: #aa0601; }
  @media screen and (max-width: 991px) {
    .breadcrumbs {
      margin-top: 8px; } }
  @media screen and (max-width: 414px) {
    .breadcrumbs {
      margin-top: 16px; } }

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
  margin-bottom: 8px; }
  .tags a {
    font-size: 24px;
    font-weight: 700;
    color: #aa0601; }
  @media screen and (max-width: 991px) {
    .tags a {
      font-size: 16px;
      font-weight: 700;
      color: #aa0601; } }

.blog-page-main .blog-page-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px; }
  .blog-page-main .blog-page-article .blog-page-content li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px 0;
    margin-bottom: 40px; }
    @media screen and (max-width: 414px) {
      .blog-page-main .blog-page-article .blog-page-content li {
        margin-bottom: 16px; } }
    .blog-page-main .blog-page-article .blog-page-content li p {
      color: #555555; }
  .blog-page-main .blog-page-article .blog-page-ch-title {
    font-size: 48px; }
  .blog-page-main .blog-page-article .blog-page-en-title {
    font-size: 24px;
    margin-bottom: 16px; }
  .blog-page-main .blog-page-article .blog-page-soical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    border-bottom: 1px solid #707070;
    padding-bottom: 15px;
    gap: 0 16px; }
    .blog-page-main .blog-page-article .blog-page-soical img {
      border-radius: 2px;
      width: 24px; }
    .blog-page-main .blog-page-article .blog-page-soical a {
      color: #0a0a0a; }
  .blog-page-main .blog-page-article .blog-page-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 80px; }
    .blog-page-main .blog-page-article .blog-page-select a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 0 8px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #000000; }
  @media screen and (max-width: 414px) {
    .blog-page-main .blog-page-article {
      margin-bottom: 50px; }
      .blog-page-main .blog-page-article .blog-page-soical {
        display: none; }
      .blog-page-main .blog-page-article .blog-page-select {
        display: none; } }

.blog-page-main aside {
  color: #aa0601;
  font-weight: 700;
  width: 38%; }
  @media screen and (max-width: 414px) {
    .blog-page-main aside {
      display: none; } }
  .blog-page-main aside div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .blog-page-main aside div h3 {
      font-size: 32px; }
  .blog-page-main aside span {
    font-size: 48px; }
  .blog-page-main aside ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4px 24px; }
  .blog-page-main aside a {
    color: #aa0601;
    font-size: 24px; }
  @media screen and (max-width: 991px) {
    .blog-page-main aside {
      width: 85%; }
      .blog-page-main aside div h3 {
        font-size: 16px; }
      .blog-page-main aside span {
        font-size: 24px; }
      .blog-page-main aside a {
        font-size: 16px; } }

.hidden {
  display: none; }

.list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.list li {
  list-style: none; }
  .list li a {
    text-decoration: none;
    color: white; }

.container {
  max-width: 1296px;
  padding: 0 12px;
  margin: 0 auto; }
  @media screen and (max-width: 991px) {
    .container {
      max-width: 720px; } }
  @media screen and (max-width: 414px) {
    .container {
      max-width: 351px; } }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 24px; }

.item-container {
  max-width: 1296px;
  padding: 0 12px;
  margin: 0 auto; }
  @media screen and (max-width: 991px) {
    .item-container {
      max-width: 768px;
      padding: 0; } }

/*# sourceMappingURL=all.css.map */
